<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>{% block title %}Главная страница{% endblock %}</title>
</head>
<body>
    <div>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <svg class="#" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            {% if current_user.is_authenticated %}
            <li><a href="create_article" class="nav-link px-2 link-secondary">Добавить запись</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="posts" class="nav-link px-2 link-dark">Посмотреть список записей</a></li>
            {% endif %}
          </ul>
          <div class="col-md-3 text-end">
            <button type="button" onclick="document.location='login'" class="btn btn-outline-primary me-2">Войти</button>
            <button type="button" onclick="document.location='signup'"class="btn btn-primary">Зарегистрироваться</button>
            {% if current_user.is_authenticated %}
            <button type="button" onclick="document.location='logout'"class="btn btn-primary">Выйти</button>
            {% endif %}
          </div>
        </header>
      </div>
    
    {% block content %}
      <h1 class="container">Приветствуем вас на сайте. Пожалуйста воспользуйтесь кнопкой входа или авторизации.</h1>  
    {% endblock %}

</body>
</html>