{% extends 'base.html' %}

{% block title %} Зарегистрироваться {% endblock %}

{% block content %}

<form class="container" method="POST" action="{{url_for('wrap.signup')}}">
  <h1 class="h3 mb-3 fw-normal">Пожалуйста зарегистрируйтесь</h1>
    <div class="form">
      <input type="text" class="form-control" name="first_name" placeholder="Введите ваше имя" value="" required="">
    </div>

    <div class="form">
      <input type="text" class="form-control" name="last_name" placeholder="Введите вашу фамилию" value="" required="">
    </div>
    {% if error %}
      <div class="form">
          <input type="email" class="form-control" style="border: 2px solid red;" name="email" placeholder="Введите другой email или авторизуйтесь">
          <span class="email_error">{{error}}</span>
        </div>
    {% else %}
        <div class="form">
          <input type="email" class="form-control" name="email" placeholder="Введите email">
        </div>
    {% endif %}

    <div class="form">
        <input type="password" name="password" class="form-control" placeholder="Придумайте и введите пароль" required="">   
     </div>

     <button class="w-100 btn btn-lg btn-primary form" style="margin-top: 30px" type="submit">Зарегистрироваться</button>

    </form>

    <div class="container">
      Если у вас уже есть аккаунт перейдите по ссылке: <a href="login">Войти</a>
    </div>
    {% endblock %}

    <style>
      body {
    display: flex;
    }

    </style>
